html{
    font-size:20px
}


body{
    background-color:#333;
    color:whitesmoke;
}
table,tr,th,td,caption{
    border:1px solid #eee;
    font-family:'CourierNew',Courier,monospace;
    border-collapse:collaspe;
    padding:0.5rem
}
a{
    color:#eee;
}
a:visited{
     color:bisque;
}
a:hover,a:active{
    color:lightblue;
}